header {
    border: 0;
    padding: px;
    left: 0;
    width: 100%;
    background-color: #E5D9F2;
    text-align: center;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size-adjust: 100%;
    background-color: #A594F9;
}

footer {
    position: fixed;
    background-color: #CDC1FF;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 5px;
    bottom: 0;

}

#mostrador {
    width: 100%;
    height: 350px;
}

#imgGato {
    position: relative;
    width: 50px;
    height: 50px;
    right: 700px;

}

.imagenHelados {
    width: 300px;
}

.iconosRedes {
    width: 30px;
    height: 30px;
}

.horarioDeServicio {
    background-color: antiquewhite;
}

.horarioDeAtencion {
    font-family: monospace;
}

.formulario_contacto {
    background-color: firebrick;
    border-radius: 10%;
}

.motivoMensaje {
    height: 50px;
    font-size: 18px;
}

.saboresHelados {
    display: flex;
    justify-content: center;
    right: 900px;
    height: 50px;
    gap: 30px;

}

.tituloPrincipal {
    text-align: center;
    font-size: 55px;
}

.cuadroHeader {
    text-align: center;
}

.subTituloProductos {
    text-align: center;
}